<!DOCTYPE html>
<html>
<head>
  <title>Abdesign</title>
  <%= stylesheet_link_tag    "abdesign/application", media: "all" %>
  <%= javascript_include_tag "abdesign/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
